.header-container {
    height: 50px;
    color: #3A4895;
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.header-container a {
    text-decoration: none;
    color: #3A4895;
}